/* VARIABLES */

:root {
    /* COLORES */
    --main-color: #012EFE;
    --letter-color: #B0B0CF;
    --black-color: #030A21;
    --border-color: #5A8FF6;
    --secondary-color: #162863;
    --font-color: #0c75ff;
    --white-color: #F5F5F8;
    /* FUENTES */
    --letter-font: 'Roboto', sans-serif;
    ;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--letter-font);
    overflow: hidden;
}

.img_aside img {
    width: 95%;
    height: 655px;
}


/* STEP-SECTION */

.main_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1, 1fr); */
}

.step_buttons ul li {
    display: inline-flex;
    list-style: none;
    margin-left: 60px;
}

.step_section hr {
    width: 95%;
}

.step_buttons span {
    background-color: var(--font-color);
    padding: 5px 10px;
    border-radius: 5px;
}

.step_form {
    padding-top: 20px;
}

.step_form h2 {
    color: var(--black-color);
}

.pass {
    color: var(--letter-color);
}


/* PRIMER PASO*/

.step_one {
    position: relative;
    left: 50%;
    top: 5%;
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: -25px;
}


/* 
.formulario p {
    font-weight: 300;
    font-size: 29px;
} */

.formulario input {
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: 5px;
}

.name_input {
    width: 70%;
    height: 30px;
}

.lastname_input {
    width: 70%;
    height: 30px;
}

.date_input {
    width: 70%;
    height: 30px;
}

.email_input {
    width: 70%;
    height: 30px;
}

.addres_input {
    width: 175%;
    height: 75%;
    border-radius: 5px;
    outline: var(--border-color);
    border: 1px solid var(--border-color);
}

.step_next {
    width: 50%;
    height: 50px;
    position: relative;
    top: 35px;
    left: 155%;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}


/* ----------------- MESSAGE */

.message_input {
    width: 553px;
    margin: -20px;
    resize: none;
}

.second_step {
    width: 25%;
    height: 50px;
    position: relative;
    top: 14px;
    left: 80%;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}

.formulario_mensaje {
    margin-top: -30px;
}

.orientacion {
    display: flex;
    margin-top: 30px;
}

.mensaje {
    position: relative;
    right: 20px;
    margin-bottom: 30px;
    margin-top: 65px;
}

.form_sex {
    height: 30px;
    position: relative;
    top: 10px;
}

.step_two {
    position: relative;
    left: 50%;
    top: 5%;
}


/* TERCER PASO */

.step_three {
    position: relative;
    left: 50%;
    top: 5%;
}

.user_title h2 {
    text-align: center;
    color: var(--black-color);
}

.data_user {
    display: flex;
}

.data_user input {
    width: 70%;
    height: 50%;
    outline: none;
}

.profile {
    border: 5px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    width: 60%;
}

.profile_title {
    font-size: 25px;
    font-weight: 800;
    color: var(--black-color);
}

.file-select {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.file-select::before {
    background-color: var(--font-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar foto';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
    cursor: pointer;
}

.hiden {
    display: none;
    pointer-events: none;
}


/* LOGIN */

.login_container {
    position: relative;
    left: 80%;
    top: 190px;
    margin: 0 auto;
}

.button_login {
    width: 110%;
    height: 39px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}

.login_form {
    width: 35%;
    text-align: center;
    margin: 15px;
}

.login_form input {
    outline: none;
    border: 1.5px solid var(--main-color);
    border-radius: 5px;
}


/* EVENTOS */

.button_off {
    pointer-events: none;
    background-color: var(--letter-color);
    color: var(--white-color);
}


/* ASIDE */


/* .img_aside {
    grid-column-start: 1;
    grid-row-start: 1;
} */